<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
  <header>
    <%= siteTitle %>
  </header>

</head>
<body>
  <%- include ('../partials/nav')%>
  <div class="hero">
    <h1><%- include ('../partials/header')%></h1>
    <h2><% pageTitle %></h2>
  </div>


  <header class="pageheader">
    <img class= "logo" src="images/TonyGrimes.svg" alt="company logo"> 
    <img class= "logotext" src="images/TonyGrimesText-01.svg" alt="company text"> 
    <p class= "tagline">If it ain't Grimes, then it ain't fashion</p>
    <button type="button" onclick="alert('Hi user!')">Our Work</button>
  </header>



  <div id="gallery"></div>
  
  <%- include ('../../partials/footer')%>
</body>




</html>