<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include ('../partials/nav')%>
  <%-include ('../partials/hero')%>
  <div id ="Logo">
    <img id="sub" class="logo" src="images/TonyGrimes.svg" alt="face of the company logo"> 
    <h2><%= pageTitle %></h2>
  </div>
  <section>
    <div class="form">
      <form action="/verify-sub" method="post">
        <fieldset>
          <!-- This was added because of colliding css files... due to the way hamburger menu is setup label is not displayed.. TALK TO GROUP! -->
          <legend>Join our mailing list</legend>
          <p>Join our mailing list</p>
          <label class="label"for="name">Name:</label>
          <input name="name" id="name" type="text" placeholder="name">
          <label class="label"for="email">Email:</label>
          <input name="email" id="email" type="type" placeholder="email">
          <button type="submit">Join</button>
        </fieldset>
      </form>
    </div>
  </section>
    <%- include ('../partials/footer')%>
</body>
</html>