<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/subscribe.css">
</head>
<body>
  <%- include ('../partials/nav')%>
  <%- include ('../partials/header')%>
  <div id ="Logo">
    <img id="sub" class="logo" src="images/TonyGrimes.svg" alt="face of the company logo"> 
    <h2><%= pageTitle %></h2>
  </div>
  <section>
    <div class="form">
      <form action="https://formspree.io/f/{form_id}" method="post">
        <label class="label"for="email">Join our mailing list</label>
        <input name="Email" id="email" type="email">
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>
    <%- include ('../partials/footer')%>
</body>
</html>